<footer class="center">
  <div class="measure">
    <small>
      mi diverto con <a href="http://osd.tools">osd</a> e vado ai <a href="https://hi.osd.tools">giardinetti</a> //
      sono sempre io su <a href="https://github.com/lucacorsato/lucacorsato.github.io"><i class="fa fa-github-square" aria-hidden="true"></i> Github</a> e <a href="https://twitter.com/lucacorsato"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a> e anche <a href="https://medium.com/@lucacorsato"><i class="fa fa-medium" aria-hidden="true"></i> Medium</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
